.edit-theme-form {
  background-color: #2a2a2a;
  padding: 0px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 0 auto 32px;
}

.theme-title-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: #fff;
}

.color-fields {
  display: flex; /*nebeneinander*/
  gap: 10px;
}

.color-fields input[type="color"] {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer; /*wird Hand*/
}

.submit-button {
  padding: 10px 16px;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out; /*weicher Übergang beim Hovern*/
}

.

.submit-button:hover {
  background-color: #333; /*macht kästchen heller beim Hovern*/
}
